
body{
    background: url(../images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}

#imagem{
    margin-left:1145px;
    margin-top: 100px;
    position: absolute;
    border: solid red;
    display: inline-block;
}

#nome{
    
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
    font-size: 50px;

}

nav{
    text-align: center;
    font-size: 30px;
    height: 50px;
}

nav ul li{
    border-radius: 20px;
    display: inline;
    list-style: none;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px;
}

nav ul li:hover{
    box-shadow: 2px 0px 6px yellow;
    transition: 1s;
}


nav ul li:nth-child(1){
    margin-right: 500px;
}

#informa{
    margin-left:450px;
    margin-top: 70px;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 250px;
    font-size:20px;
}

#habilidades{
   
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 250px;
    font-size:20px;
    margin-left: 450px;
    margin-top: 500px;
    
}

#informa, #habilidades{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    border: solid red;
    padding-left: 0;
    
}

#informa ul li, #habilidades ul li{
    list-style: none;
}

#video{
    border: solid red;
    background-color: black;
    margin-left:1150px;
    margin-top: 570px;
    display: inline-block;
}

